div.navigation.has_subnav {
  margin-bottom: 5px;
}

div.subnav {
  background-color: lighten(#53595D, 20%);
  padding: 5px 20px 2px;
  margin-bottom: -6px;

  ul.tabs {
    & > li {
      &.has_nested > a {
        z-index: 1009;
      }
      ul {
        z-index: 1008;
      }
    }
  }
}

